body{
    font-family: 'Roboto';
}
.navbar{
    background-color: #28a745;
    color: #fff;
}

.formulario{
    background-color: #28a745;
}

.colores{
    color: #fff;
}

.texto-verde{
    color: #28a745;
    font-family: 'Roboto';
}

.card-title{
    color: #212529;
    font-weight: 500;
}

.card-text{
    color: #707070;
    font-weight: 300;

}

a:hover {
    color: #ffffff;

}

a {
    color: #ffffff;


}

.nav-link:focus, .nav-link:hover{
    color: #fff
}

a:hover{
    color: #fff
}

.nav-link{
    color: #fff
}

.logof{
    width: 8%;
}